@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

hr{
    position: relative;
    top: 20px;
    border: none;   
    height: 12px;
    background: black;
}
.wait{
    text-align: center;
    margin-top: 5rem;
}

